body{
    background: lightgray;
}
h3{
    text-align: center;
}
.styleForTable{
    width: 1200px;
    height: 300px;
    border:1px solid gray;
    background-color: forestgreen;
}

#buttonStyleFirst{
    display: block;
}
#buttonStyle{
    display: none;
}

#buttonSave{
    display: none;
}

#buttonAddTable{
    display: block;
    margin: 0 auto;
}